@media screen and (max-width:900px) {
    html{

        .text1 .heading
        {
           font-size: 2.8rem;
           font-weight: 800;
           font-family: 'cardo';
           line-height: 2.8rem;
        }
   
       .text1
       { 
           padding-top:10%;
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
    }
    
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .heading5 
    {
        font-size: 1.4rem;
        font-family: 'Cardo';
        text-decoration: underline;
        line-height: 2.2rem;
        width: 60%;
        font-weight: 700
    }

  .container6{  
    padding:5% 5% 5% 8% ;
    width: 100%;
    background-color: black;
    color: white;
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.heading6
{

font-family: 'cardo';
font-size: 2rem;
font-weight: bolder;
line-height: 2rem;
width: 100%;
text-align: center;
}

.left6{
    width: 100%;
    text-align: center;

}

.s6
{
    width: 100%;
    text-align: center;

}

.c6_2
{
    padding-top: 0%;
    padding-bottom: 5%;
}

.c6_1
{
 padding-top: 5%;
}

.c6_1,.c6_2
{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.container7
{
    padding:6% 8%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.right7
{
    width: 100%;
    text-align: center;
}

.img7
{
    width: 80%;
}

.left7
{
    text-align: center;
    width: 100%;
}
.head7{
    padding:5% 0;
    font-size:3rem;
}

.left7 div 
{
    width: 100%;
}

.container9
{
    padding: 2% 2%;
    display: flex;
    flex-direction: column-reverse;
}


.c9_left
{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .c9_head
{
    padding-top:5%;
    font-size: 2.5rem;
    font-family: 'cardo';
    font-weight: 600;
    margin-bottom:1rem;

}

.form input 
{
    width: 100%;

    padding: 2% 2%;
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 2px solid black;
    background-color: #eae8e8;

}

input[type="submit"]
{
    text-align: center;
    padding: 2% 0;
    color: white;
    background-color: black;
    margin-top: 3%;
    font-size: .8rem;
}

textarea{
    width: 100%;
    height: 9rem;
    border: 2px solid black;
    border-radius: 6px;
    padding:2% 3% ;
    background-color: #eae8e8;

}
.form{
    padding: 2% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
  
}

.c9_right
{
    width: 100%;
    padding: 0;
    height: 20rem;
    text-align: center;

}

.c9_pic
{
    width: 60%;
    padding:0;
    margin:0;
    height: 18rem;
}


.container10
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top10
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h10
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.options
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options div {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;

}

.l10
{
    font-size: 2rem;
    font-family: 'cardo';
    font-weight: 700;
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1
{
  width: 100%;
  padding-bottom: 10%;
}


li
{
  padding-right: 5%;
  color: #836767;
  font-size: .8rem;
}

.contact_us
{
    border: 2px solid black;
    padding: 2px .8rem;
    border-radius: 5px;
    font-weight: bolder;
    font-family: 'cardo'
}

.text1 .heading
{
    width: 100%;
   font-size: 2.5rem;
   font-weight: 800;
   font-family: 'cardo';
   line-height: 2rem;
   text-align: center;
}



.quote{
    padding: 3% 0;
    font-family: 'cardo';
    font-size: 3rem;
    width: 100%;
    font-weight: bolder;
    line-height: 4rem;
    text-align: center
}

.c4line
{
font-family: sans-serif;
font-weight: bold;
width: 100%;
text-align: center;
font-size:.8rem;
padding-bottom: 5%;
}


.imgl5 {
    width: 60%;
    margin-right: 1rem;
    height: 36rem
}


.imgr5 {
    width: 100%;
    height: 5rem;
}

.content5 {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.container5{
background-image: none;
background-color: #eae8e8;

}

.down8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid black;
border-radius: 10px;
padding: 4% 2%;
margin-bottom: 5%;
}

.sign1{
position: relative;
top: 0rem;
left: 0.5%;
width: 20%;
background-color: #eae8e8;
font-size: 4rem;
border: 2px solid black;
height: 5rem;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 5%;
}

.head8
{
    font-size: 3rem;
    font-family: 'cardo';
    line-height: 4rem;
    font-weight: bolder;
    width: 80%;
    text-align: center;
    padding-bottom: 5%  
    

}


.container8
{
    padding: 5% 0 8% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eae8e8;
    background-image: url(c8_top.png), url(c8_bottom.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 7% left, bottom 6% right;
    background-size: 20% 11%, 37% 7%;
}

.sign2 {
    position: relative;
    top: 0rem;
    right: 1.5%;
    width: 20%;
    background-color: #eae8e8;
    font-size: 4rem;
    border: 2px solid black;
    height: 5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.profile_icon {
    height: 7rem;
    width: 33%;
}











}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }

    .first_look
    {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;



    }



    .text .ticket {
        width: 40%;
    }

     .text1 .heading
     {
        font-size: 2.8rem;
        font-weight: 800;
        font-family: 'cardo';
        line-height: 2.8rem;
     }

    .text1
    { 
        padding-top:10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards
    {
        display: flex;
        flex-wrap: wrap;
    }

    
  .container4
  {
    padding: 11% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(c4_left.png), url(c4_right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 1% left 10%, bottom 185% right;
    background-size: 29% 6%, 18% 103%
  }
  .content5
  {
    display: flex;
    flex-direction: column;
  }
.heading5
{
    font-size: 1.2rem;
    font-family: 'Cardo';
    text-decoration: underline;
    line-height: 2rem;
    width: 100%;
    font-weight: 700;
}
.sub5
{
    padding: 15% 0;
    width: 100%;
}

.mid2
{
    font-family: 'cardo';
    font-weight: bold;
    width: 50%;
    font-size: 1.5rem;
    line-height: 1rem;
    padding: 1.5rem 0
}


}
