@media screen and (max-width:900px) {
    html{

        .text1 .heading
        {
           font-size: 2.8rem;
           font-weight: 800;
           font-family: 'cardo';
           line-height: 2.8rem;
        }
   
 
    }
    
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }


    .top5_pic
    {
        width: 100%;
    }
    .right5{
        width: 100%;
        text-align: center;
    }




    .heading5 
    {
        font-size: 1.4rem;
        font-family: 'Cardo';
        text-decoration: underline;
        line-height: 2.2rem;
        width: 60%;
        font-weight: 700
    }

  .container6{  
    padding:5% 5% 5% 5% ;
    width: 100%;
    background-color: black;
    color: white;
  display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   background-image: none;
}

.sub6
{
    text-align: justify;
}

.sub_head6 {
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: bold;
    width: 50%;
    padding: 4% 0;
}



.left6{
    width: 100%;
    text-align: center;

}

.s6
{
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: space-around;
}

.c6_2
{
    padding-top: 0%;
    padding-bottom: 5%;
}


.c6_1,.c6_2
{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0;
 padding: 0;
}

.container7
{
    padding:6% 8%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.right7
{
    width: 100%;
    text-align: center;
    padding: 2%;
}

.img7
{
    width: 80%;
}

.left7
{
    text-align: center;
    width: 100%;
}
.head7{
  display: none;
}

.left7 div 
{
    width: 100%;
}

.container9
{
    padding: 2% 8%;
    display: flex;
    flex-direction: column-reverse;

}

.update
{
    display:block;
    padding-top:5%;
    font-size: 2.5rem;
    font-family: 'cardo';
    font-weight: 600;
    margin-bottom:1rem;
    text-align: center;

}


.c9_left
{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .c9_head
{
 display: none;

}

.form input 
{
    width: 100%;

    padding: 2% 2%;
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 2px solid black;
    background-color: #eae8e8;

}

input[type="submit"]
{
    text-align: center;
    padding: 2% 0;
    color: white;
    background-color: black;
    margin-top: 3%;
    font-size: .8rem;
}

textarea{
    width: 100%;
    height: 9rem;
    border: 2px solid black;
    border-radius: 6px;
    padding:2% 3% ;
    background-color: #eae8e8;

}
.form{
    padding: 2% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
  
}

.reverse7
{
    display: block;
    padding: 5% 0;
    font-size: 2.4rem;
    font-family: 'Cardo';
    line-height: 2.2rem;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center
}

.c9_right
{
    width: 100%;
    padding: 0;
    height: 20rem;
    text-align: center;

}

.c9_pic
{
    width: 60%;
    padding:0;
    margin:0;
    height: 18rem;
}


.container10
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: left bottom 10%;
    background-size: 19% 8%;
}

.top10
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h10
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.options
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    padding: 2.5% 0%;
}

.l10
{
    font-size: 2rem;
    font-family: 'cardo';
    font-weight: 700;
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1
{
   margin-bottom: 2%;
  width: 100%;
  padding-bottom:2%;
  box-shadow: 2px 2px 2px black;
}


li
{
  padding-right: 5%;
  color: #836767;
  font-size: .8rem;
}

.contact_us
{
    border: 2px solid black;
    padding: 2px .8rem;
    border-radius: 5px;
    font-weight: bolder;
    font-family: 'cardo'
}

.text1 .heading
{
 display: none; 
}
.heading_reverse_1
{
    padding-bottom:3%;
    display: block;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'cardo';
    line-height: 2.1rem;
    text-align: center;
    font-weight: bolder;

}



.quote{
    padding: 3% 0;
    font-family: 'cardo';
    font-size: 3rem;
    width: 100%;
    font-weight: bolder;
    line-height: 4rem;
    text-align: center
}

.c4line
{
font-family: sans-serif;
font-weight: bold;
width: 100%;
text-align: center;
font-size:.8rem;
padding-bottom: 5%;
}


.imgl5 {
    width: 80%;
    height: 36rem;
    margin:10%;
}


.imgr5 {
    width: 80%;
    height: 18rem;
}

.content5 {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading6
{
    display: none;
}
.reverse_heading_6
{
    display: block;

padding:4% 0 ;
font-family: 'cardo';
font-size: 2rem;
font-weight: bolder;
line-height: 2rem;
width: 100%;
text-align: center;


}


.down8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card{
width: 62%;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid black;
border-radius: 10px;
padding: 8% 2%;
margin-bottom: 5%;
}

.sign1,.sign2{

    display: none;
}

.head8
{
    font-size: 2.5rem;
    font-family: 'cardo';
    font-weight: bolder;
    width:100%;
    text-align: center;
    padding-bottom: 5%  
    

}

.container2
{
    padding: 4% 8%;
    background: none;
    background-color: black;
}

.container8
{
    padding: 5% 8% 8% 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eae8e8;
    background-image: url(c8_top.png), url(c8_bottom.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 24% left, bottom 3% right;
    background-size: 20% 11%, 37% 7%
}




.profile_icon {
    height: 7rem;
    width: 33%;
}


.text1 .sub {
    width: 85%;
    font-family: sans-serif;
    padding: 0.8rem 0px 2rem 0;
    text-align: justify;

}

.container3
{
    padding-bottom: 0%;
    background: none;
}


.container5
{
  width: 100%;
  padding:0 4% 4% 4%;
  background-image: none;

}


.cont5 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.tape {
display: none;
}





.img6
{
    width: 80%;
}


.mid{
    width: 100%;
    padding: 0;
}

.mid2
{
    font-family: 'cardo';
    font-weight: bold;
    width: 100%;
    font-size: 2.3rem;
    line-height: 1.5rem;
    padding: 1.5rem 0;
    text-align: center;
    
}

.text2
{
    width: 75%;
    text-align: justify;
    font-size: 1rem
}


  
  .aero {
    position: absolute;
    top: 8%;
    left: 0;
    transform: rotate(90deg);
    animation: moveLeftToRight 5s linear infinite; /* Adjust animation duration as needed */
  }
  
  @keyframes moveLeftToRight {
    0% {
      left: -100%; /* Start position */
    }
    100% {
      left: 100%; /* End position */
    }
  }
  

  .text1
  { 
      padding-top:2%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
.first_look
{
    display: flex;
    flex-direction: column-reverse;
}

.nav{
    display: none;

}

.slider_img{
    width: 10%;
    height: 10%;
}

.slider
{
    width: 50%;
    display:block
}

.just_practise
{
 display: flex;
 flex-direction: row;
}

.side_bar
{
    position: relative;
    right:10%;
    width:30%;
    height: 17rem;
    background-color: rgb(6, 9, 8);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.side_bar div{
color:white;
}

.side_bar div :hover
{
background-color: white;
color: black;
}


}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }



    .text .ticket {
        width: 40%;
    }

     .text1 .heading
     {
        font-size: 2.8rem;
        font-weight: 800;
        font-family: 'cardo';
        line-height: 2.8rem;
     }



    .cards
    {
        display: flex;
        flex-wrap: wrap;
    }

    
  .container4
  {
    padding: 11% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(c4_right.png);
    background-repeat: no-repeat;
    background-position: bottom 50% right;
    background-size: 12% 93%;
    position: relative;
  }
  .content5
  {
    display: flex;
    flex-direction: column;
  }
.heading5
{
    font-size: 1.2rem;
    font-family: 'Cardo';
    text-decoration: underline;
    line-height: 1.6rem;
    width: 80%;
    font-weight: 700;
    padding-bottom: 4%
}
.sub5
{
    width: 80%;
}




}
