@media screen and (max-width:900px) {
    html{

        .text1 .heading
        {
           font-size: 2.8rem;
           font-weight: 800;
           font-family: 'cardo';
           line-height: 2.8rem;
        }
   
 
    }
    
}




@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }


    #close_bar
    {
        margin-left: 77%;
        font-size: 3rem;
        padding: 0;
    }


    .plus {
        padding-left: 2%;
        font-weight: 700;
        font-size: 1.1rem
    
    }


    .top5_pic
    {
        width: 100%;
    }
    .right5{
        width: 100%;
        text-align: center;
    }

    .one7 
    {
        text-align: justify;
        font-size: 1rem;
        padding-top:1rem;
        padding-left:1rem;
        width: 90%;
    }




    .heading5 
    {
        font-size: 1.5rem;
        font-family: 'Cardo';
        text-decoration: underline;
        line-height: 2.2rem;
        width: 60%;
        font-weight: 700
    }

  .container6{  
    padding:5% 4% 5% 4% ;
    width: 100%;
    background-color: black;
    color: white;
  display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   background-image: none;
}

.sub6
{
    text-align: justify;
    font-size: 1.4rem;
}

.sub_head6 {
    font-family: sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    width: 90%;
    padding: 4% 0 2% 0;
}



.left6{
    width: 100%;
    text-align: center;
    margin: 0;

}

.s6
{
    width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: space-around;
}

.c6_2
{
    padding-top: 0%;
    padding-bottom: 5%;
}


.c6_1,.c6_2
{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0;
 padding: 2rem;
}

.container7
{
    padding:6% 4%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.rows
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center
}

.right7
{
    width: 100%;
    text-align: center;
    padding: 2%;
}

.img7
{
    width: 95%;
    height: 36rem;
}

.left7
{
    text-align: center;
    width: 100%;
}
.head7{
  display: none;
}


.container9
{
    padding: 2% 4%;
    display: flex;
    flex-direction: column-reverse;

}

.update
{
    display:block;
    padding-top:5%;
    font-size: 4.5rem;
    font-family: 'cardo';
    font-weight: 600;
    margin-bottom:1rem;
    text-align: center;

}


.c9_left
{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

    .c9_head
{
 display: none;

}

.form input 
{
    width: 100%;

    padding: 2% 2%;
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 2px solid black;
    background-color: #eae8e8;

}

input[type="submit"]
{
    text-align: center;
    padding: 4% 0;
    color: white;
    background-color: black;
    margin-top: 3%;
    font-size: 1.2rem;
    transform: none;
}

textarea{
    width: 100%;
    height: 9rem;
    border: 2px solid black;
    border-radius: 6px;
    padding:2% 3% ;
    background-color: #eae8e8;

}
.form{
    padding: 4% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
  
}

.reverse7
{
    display: block;
    padding: 5% 0;
    font-size: 2.4rem;
    font-family: 'Cardo';
    line-height: 2.2rem;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center
}

.c9_right
{
    width: 100%;
    padding: 0;
    height: 20rem;
    text-align: center;

}

.c9_pic
{
    width: 90%;
    padding:0;
    margin:0;
    height: 20rem;
}


.container10
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: left bottom 10%;
    background-size: 19% 8%;
}

.top10
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h10
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.options
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding: 2.5% 0%;
    font-size: 1.5rem;
}
.link{
    font-size: 2.4rem;
}

.l10
{
    font-size: 3rem;
    font-family: 'cardo';
    font-weight: 700;
    width: 100%;
    padding: 2% 0;
    text-align: center;
}

.cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down{
    font-size: 1.2rem;
}

.card1
{
   margin-bottom: 6%;
  width: 100%;
  padding-bottom:2%;
  box-shadow: 2px 2px 8px black;
  border: 1px solid black;
  
}


li
{
  padding-right: 5%;
  color: #836767;
  font-size: .8rem;
}

.contact_us
{
    border: 2px solid black;
    padding: 2px .8rem;
    border-radius: 5px;
    font-weight: bolder;
    font-family: 'cardo'
}

.text1 .heading
{
 display: none; 
}
.heading_reverse_1
{
    padding-bottom: 3%;
    display: block;
    width: 100%;
    font-size: 3.3rem;
    font-weight: 800;
    font-family: 'cardo';
    line-height: 4rem;
    text-align: center;
    font-weight: bolder;

}



.quote{
    padding: 3% 0;
    font-family: 'cardo';
    font-size: 3rem;
    width: 100%;
    font-weight: bolder;
    line-height: 4rem;
    text-align: center
}

.c4line
{
font-family: sans-serif;
font-weight: bold;
width: 100%;
text-align: center;
font-size:1rem;
padding-bottom: 5%;
}


.imgl5 {
    width: 90%;
    height: 36rem;
    margin: 0;
    margin-bottom: 2%
}


.imgr5 {
    width: 90%;
    height: 20rem;
}

.content5 {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading6
{
    display: none;
}
.reverse_heading_6
{
    display: block;

padding:4% 0 ;
font-family: 'cardo';
font-size: 2rem;
font-weight: bolder;
line-height: 2rem;
width: 100%;
text-align: center;


}


.down8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15% 2%;
    margin-bottom: 5%;



    
}

.sign1,.sign2{

    display: none;
}

.head8
{
    font-size: 2.1rem;
    font-family: 'cardo';
    font-weight: bolder;
    width:90%;
    text-align: center;
    padding-bottom: 5%  
    

}

.container2
{
    padding: 4% 8%;
    background: none;
    background-color: black;
}

.container8
{
    padding: 5% 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eae8e8;
   background: none;
}




.profile_icon {
    height: 33%;
    width: 33%;
}


.text1 .sub {
    width: 100%;
    font-family: sans-serif;
    padding: 0.8rem 0px 2rem 0;
    text-align: justify;
    font-size: 1.6rem;

}

#temp_card1,#temp_card2
{
    display: none;
}

.slider_arrow
{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.right_slider,.left_slider
{
 font-size: 5rem;
}


h3 
{
    padding: 4% 0;
    font-size: 2rem;
}

.text8
{
    text-align: justify;
    font-size: 1.4rem;
    padding: 0% 1rem;
}

.container3
{
    padding-bottom: 0%;
    background: none;
}


.container5
{
  width: 100%;
  padding:0 4% 4% 4%;
  background-image: none;

}


.cont5 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.tape {
display: none;
}

.sub6{
    width: 90%;
}



.img6
{
    width: 90%;
}


.mid{
    width: 100%;
    padding: 0;
}

.mid2
{
    font-family: 'cardo';
    font-weight: bold;
    width: 100%;
    font-size: 2.25rem;
    line-height: 2rem;
    padding: 1.5rem 0;
    text-align: center;
    
}

.text2
{
    width: 100%;
    text-align: justify;
    font-size: 1.3rem
}

.logs
{
    text-align: center;
    color: white;
    font-size: 1.35rem;
    border: 2px solid white;
    font-family: 'lato';
    padding: 4px 1.6rem;
    border-radius: 4px;
    margin: 1.5rem 0
}

  
  .aero {
    position: absolute;
    top: 8%;
    left: 0;
    transform: rotate(90deg);
    animation: moveLeftToRight 5s linear infinite; /* Adjust animation duration as needed */
  }
  
  @keyframes moveLeftToRight {
    0% {
      left: -100%; /* Start position */
    }
    100% {
      left: 100%; /* End position */
    }
  }
  

  .text1
  { 
      padding-top:2%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

.first_look
{
    display: flex;
    flex-direction: column-reverse;
}

.nav{
    display: none;

}


.container1
{
    padding-top: 4%;
    background: none;
}
.slider_img{
    width: 10%;
    height: 10%;
}

.slider
{
    width: 50%;
    display:block
}

.just_practise
{
 width: 100%;
}

.side_bar
{
    
        width: 40%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        position: absolute;
        z-index: 2;
        top: 0;
        left: -28%; /* Initial position */
        transition: left 5s ease; /* Define transition here */
    
    

}

.content3
{
    font-size: 2.1rem;
    line-height: 2.2rem;
}


.sub_3
{
    text-align: justify;
    font-size: 1.4rem;
}


.side_bar div{
    padding: 10% 0% 2% 0;
    color: rgb(228, 227, 227);
    margin-bottom: 20%;
}

.side_bar div :hover
{
background-color: white;
color: black;
}


}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
    .ticket
    {
        background-color: rgb(8, 7, 7);
        font-size: 1.4rem;
        color: white;
        font-weight: bolder;
        text-align: center;
        width: 45%;
        border-radius: 8px;
        font-family: 'Lato';
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px 0;
    }

    .ticker:hover{
        transform: none;
    }



    .text .ticket {
        width: 40%;
    }

     .text1 .heading
     {
        font-size: 2.8rem;
        font-weight: 800;
        font-family: 'cardo';
        line-height: 2.8rem;
     }



    .cards
    {
        display: flex;
        flex-wrap: wrap;
    }

    
  .container4
  {
    padding: 11% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(c4_right.png);
    background-repeat: no-repeat;
    background-position: bottom 50% right;
    background-size: 12% 93%;
    position: relative;
  }
  .content5
  {
    display: flex;
    flex-direction: column;
  }
.heading5
{
    font-size: 2rem;
    font-family: 'Cardo';
    text-decoration: underline;
    line-height: 2.2rem;
    width: 90%;
    font-weight: 700;
    padding-bottom: 4%;
    text-align: justify;
}
.sub5
{
    width: 90%;
    font-size:1.3rem ;
}




}
